<html>
    <title>Pnuemonia Prediction using Machine Learning</title>
	<link rel = "stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
    
	<body>
	<div class = "container">
		<div class = "menu">
			<ul>
				<li class = "active"> Home - Pneumonia Detection </li>
				<li> Contact Aravind </li>
			</ul>
		</div>
		<div class = "app-picture">
			<img src = "static/images/websiteimage.jpg">
		</div>
	

	<div class = "banner">
		<div class = "app-text">
			<h1> PWSkills Internship Project </h1>
			<h3> by Aravind Sridharan </h3>
			<p> Upload a gray-scale chest x-ray in ".jpeg" format <br> to predict 
				whether or not the x-ray shows Pneumonia </p>
		
	
			<form method="post" action="/home" enctype="multipart/form-data">
				<p>
					<input type="file" name="file" autocomplete="off" required>
				</p>
    			<p>
	   				<input type="submit" class=predictbutton value="Submit">
    			</p>
			</form>
	
	
	<h3> Prediction results: </h3>
	{% if result %}
	<div>
		<!-- <img src="data:image/jpeg;base64, {{filename}}"> -->
		<h2> {{result}} </h2>
	</div>
	{% endif %}
</div>
</div>

</body>
</html>